[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]
required-root-patterns = ["tailwind.config.js", "tailwind.config.ts"]

[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]

[[language]]
name = "svelte"
language-servers = ["svelteserver", "typescript-language-server", "tailwindcss-ls"]
